body
{
    margin: 0;
}

@media screen and (max-width: 1000px)
{
    
    header
    {
        min-width: 775px;
    }

    header div
    {
        margin: 0;
        width: 70%;
        padding-right: 35px;
    }

    main
    {
        min-width: 775px;
        min-height: 98vh;
    }

    footer
    {
        min-width: 770px;;
    }
}

header
{
    height: 50px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button
{
    display: flex;
    background-image: url(lua.png);
    background-color: none;
    background-size: cover;
    height: 30px;
    width: 30px;
    align-items: center;
    border: none;
    margin-right: 20px;
}

.botaocorl
{
    background-color: #754371;
    background-image: url(lua.png);
}

.botaocor2
{
    background-image: url(sol.png);
    background-color: #3b1939;
}

.light
{
    background: #754371;
    color: black;
}

.dark
{
    background-color: #3b1939;
    color: white;
}

div
{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-between;
    font-family: "Instrument Serif", serif;
}

div a
{
    color: white;
    font-size: 35px;
}

a
{
    text-decoration: none;
}

#buttons_main
{
    height: 210vh;
    display: flex;
    flex-direction: column;
}

.botaocorl
{
    background-color: #754371;
}

.botaocor2
{
    background-image: url(sol.png);
    background-color: #3b1939;
}


.light-main2
{
    background-image: url(Sem\ título.png);
    background-size: cover;
}

.dark-main2
{
    background-image: url(dark.png);
    background-size: cover;
    color: white;
}

#nome
{
    margin-left: 25%;
    height: 200px;
    margin-top: 20px;
}

#nome p
{
    font-family: "Kameron", serif;
    font-size: 38px;
    font-weight: 600;
}

#c
{
    width: 200px;
    height: 200px;
}

#butto
{
    margin-top: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 180vh;
    align-items: center;
    justify-content: center;
}

#butto div
{
    width: 85%;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 40px;
}

#butto a
{
    display: flex;
    flex-direction: row;
}

.light-button-a
{
    background-color: #EED9E6;
    border: solid 1px #59334B;
}

.dark-button-a
{
    background-color: #59334B;
    border: solid 1px #754371;
}

.light-button-b
{
    background-color: #EED9E6;
    border: solid 1px #59334B;
}

.dark-button-b
{
    background-color: #59334B;
    border: solid 1px #754371;
}

.light-button-c
{
    background-color: #EED9E6;
    border: solid 1px #59334B;
}

.dark-button-c
{
    background-color: #59334B;
    border: solid 1px #754371;
}

.light-footer
{
    background-color: #AA90A0;
}

.dark-footer
{
    background-color: #7e6775;
}

footer
{

    height: 25vh;
    display: flex;
}

.svgs-light
{
    fill: black;
}

.svgs-dark
{
    fill: white;
}

.insta-light
{
    fill: black;
}

.insta-dark
{
    fill: white;
}

.email-light
{
    color: black;
}

.email-dark
{
    color: white;
}

#svgs
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}

footer a
{
    width: 7%;
}

#Email
{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 100px;
    justify-content: space-around;
}

h1
{
    margin-bottom: 0;
}

h2
{
    margin-top: 0;
}